@import url("@/theme/spacing.css");
@import url("@/theme/variables.css");

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1) var(--space-2);
  position: relative;
  cursor: pointer;
}

.text {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  position: relative;
}
