@import url("@/theme/spacing.css");
@import url("@/theme/variables.css");

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  position: relative;
  cursor: pointer;
}

.item:hover {
  background-color: var(--color-overlay-weak);
}

:root[data-theme="dark"] .item:hover {
  background-color: var(--color-overlay-inverse);
}

.text {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.item:hover .actions,
.item:focus-within .actions {
  opacity: 1;
  pointer-events: auto;
}
