@layer base {
  :root {
    font-family: var(--font-family-base);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;
  }

  a:hover {
    color: var(--link-color);
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: var(--vh);
    overflow-y: auto;
  }

  #root {
    min-height: var(--vh);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  textarea {
    resize: none;
  }
}
