@import url("@/theme/colors.css");
@import url("@/theme/variables.css");

.button {
  border-radius: var(--radius-md);
  border: var(--btn-border);
  padding: var(--btn-padding);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: var(--highlight-color);
}

.button:focus,
.button:focus-visible {
  outline: none;
}
