@layer tokens, foundations, theme, base, components, utilities;

@import url("./tailwind.css");
@import url("./styles/index.css");
@import url("@shared/theme/spacing.css");
@import url("@shared/theme/typography.css");
@import url("@shared/theme/variables.css");
@import url("./shared/styles/tokens.menu.css");
@import url("./shared/styles/foundations.css");
@import url("./shared/styles/components/button.css");
@import url("./shared/styles/utilities/roles.css");
@import url("./shared/styles/index.css");
