[Unit]
Description=Glancy Backend Service
After=network.target

[Service]
User=ecs-user
WorkingDirectory=/home/ecs-user/glancy-backend
EnvironmentFile=/home/ecs-user/glancy-backend/.env
ExecStart=/usr/bin/java -jar /home/ecs-user/glancy-backend/target/glancy-backend.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=10
# 日志不再在启动时被截断，需额外配置 logrotate 以管理文件大小
# 可参考: https://manpages.debian.org/logrotate
StandardOutput=append:/home/ecs-user/glancy-backend/backend.log
StandardError=append:/home/ecs-user/glancy-backend/backend.log

[Install]
WantedBy=multi-user.target
