@import url("@styles/semantic/spacing.semantic.css");

@layer utilities {
  /* margin utilities */
  .m-1 {
    margin: var(--space-1);
  }

  .m-2 {
    margin: var(--space-2);
  }

  .m-3 {
    margin: var(--space-3);
  }

  .m-4 {
    margin: var(--space-4);
  }

  .m-5 {
    margin: var(--space-5);
  }

  .mt-1 {
    margin-top: var(--space-1);
  }

  .mt-2 {
    margin-top: var(--space-2);
  }

  .mt-3 {
    margin-top: var(--space-3);
  }

  .mt-4 {
    margin-top: var(--space-4);
  }

  .mt-5 {
    margin-top: var(--space-5);
  }

  .mb-1 {
    margin-bottom: var(--space-1);
  }

  .mb-2 {
    margin-bottom: var(--space-2);
  }

  .mb-3 {
    margin-bottom: var(--space-3);
  }

  .mb-4 {
    margin-bottom: var(--space-4);
  }

  .mb-5 {
    margin-bottom: var(--space-5);
  }

  /* padding utilities */
  .p-1 {
    padding: var(--space-1);
  }

  .p-2 {
    padding: var(--space-2);
  }

  .p-3 {
    padding: var(--space-3);
  }

  .p-4 {
    padding: var(--space-4);
  }

  .p-5 {
    padding: var(--space-5);
  }

  .pt-1 {
    padding-top: var(--space-1);
  }

  .pt-2 {
    padding-top: var(--space-2);
  }

  .pt-3 {
    padding-top: var(--space-3);
  }

  .pt-4 {
    padding-top: var(--space-4);
  }

  .pt-5 {
    padding-top: var(--space-5);
  }

  .pb-1 {
    padding-bottom: var(--space-1);
  }

  .pb-2 {
    padding-bottom: var(--space-2);
  }

  .pb-3 {
    padding-bottom: var(--space-3);
  }

  .pb-4 {
    padding-bottom: var(--space-4);
  }

  .pb-5 {
    padding-bottom: var(--space-5);
  }
}
