@import url("@styles/tokens/typography.primitives.css");
@import url("@styles/semantic/typography.semantic.css");

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .text-xs {
    font-size: var(--text-xs);
  }

  .text-sm {
    font-size: var(--text-sm);
  }

  .text-base {
    font-size: var(--text-md);
  }

  .text-lg {
    font-size: var(--text-lg);
  }

  .text-xl {
    font-size: var(--text-xl);
  }

  .text-2xl {
    font-size: var(--text-2xl);
  }

  .font-light {
    font-weight: var(--weight-light);
  }

  .font-normal {
    font-weight: var(--weight-regular);
  }

  .font-medium {
    font-weight: var(--weight-medium);
  }

  .font-bold {
    font-weight: var(--weight-bold);
  }
}
