.phone-input {
  display: flex;
  width: 100%;
  max-width: 360px;
  position: relative;
  margin-bottom: 20px;
}

.phone-code {
  padding: 12px 16px;
  height: 48px;
  line-height: 24px;
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  color: var(--app-color);
  border-radius: var(--radius-xl) 0 0 var(--radius-xl);
  cursor: pointer;
  user-select: none;
  min-width: 80px;
  text-align: center;
}

.phone-number {
  flex: 1;
  border: 1px solid var(--border-color);
  border-left: none;
  background: var(--input-bg);
  color: var(--app-color);
  border-radius: 0 var(--radius-xl) var(--radius-xl) 0;
  padding: 12px 16px;
  height: 48px;
  line-height: 24px;
  font-size: 16px;
}

.phone-number:focus {
  outline: none;
  border-color: var(--highlight-color);
}

.code-options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background: var(--input-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  max-height: 200px;
  overflow-y: auto;
  z-index: 20;
  width: 100px;
}

.code-options div {
  padding: 8px 12px;
  cursor: pointer;
}

.code-options div:hover {
  background: var(--border-color);
}
