.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  isolation: isolate;
}

.anonymous {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 var(--user-menu-safe);
}
