.desktop-topbar {
  height: var(--bar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.toolbar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.toolbar-container :global(> *) {
  max-width: min(100%, 960px);
}
