.entry {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.definition {
  display: block;
}

/* stylelint-disable selector-class-pattern */
:global(.entry__definition) {
  float: none !important;
  clear: both;
  position: static !important;
  width: 100%;
}
/* stylelint-enable selector-class-pattern */
