.preferences-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.preferences-form button[type='submit'] {
  width: 100%;
  background: var(--primary-bg);
  color: var(--primary-color);
}
