server {
  listen 80;
  server_name glancy.xyz;

  root /var/www/glancy-site;
  index index.html;

  error_page 403 404 500 502 503 504 /error.html;

  location / {
    try_files $uri /index.html;
  }

  location /api/ {
    proxy_pass http://127.0.0.1:8080;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }
}
