:root {
  --radius-0: var(--r-0);
  --radius-sm: var(--r-4);
  --radius-md: var(--r-8);
  --radius-lg: var(--r-12);
  --radius-xl: var(--r-16);
  --radius-2xl: var(--r-20);
  --radius-3xl: var(--r-24);
  --radius-pill: var(--r-full);
  --radius-avatar: var(--r-12);
}
