:root {
  --space-0: var(--sp-0);
  --space-1: var(--sp-4);
  --space-2: var(--sp-8);
  --space-3: var(--sp-12);
  --space-4: var(--sp-16);
  --space-5: var(--sp-20);
  --space-6: var(--sp-24);
  --space-7: var(--sp-28);
  --space-8: var(--sp-32);
  --space-10: var(--sp-40);
}
