:root {
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-family-mono);

  --text-xs: var(--fs-12);
  --text-sm: var(--fs-14);
  --text-md: var(--fs-16);
  --text-lg: var(--fs-18);
  --text-xl: var(--fs-20);
  --text-2xl: var(--fs-24);

  --leading-tight: var(--lh-tight);
  --leading-snug: var(--lh-snug);
  --leading-normal: var(--lh-normal);
  --leading-relaxed: var(--lh-relaxed);

  --weight-light: var(--fw-light);
  --weight-regular: var(--fw-regular);
  --weight-medium: var(--fw-medium);
  --weight-semibold: var(--fw-semibold);
  --weight-bold: var(--fw-bold);
}
